.user-one {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: background 0.3s ease;
}

.user-one:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
