.glass-app-container {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  padding: 12px 24px;
  display: flex;
  max-width: 500px;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 100;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
   margin-block: 12px;
   right: 0;
   left: 0;
   margin-inline: auto;

}

.glass-navbar {
  display: flex;
  gap: 28px;
}

.glass-link {
  font-size: 20px;
  color: #696969;
  transition: 0.3s ease;
}

.glass-link:hover {
  color: #fff;
}

.glass-link.active {
  color: rgb(255, 255, 255);
}

.glass-main {
  padding: 30px 16px;
  display: flex;
  justify-content: center;
}

.glass-container {
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.511);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
